/* Make the navbar sticky */
.navbar {
  /* position: fixed; */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f8f9fa; /* Adjust as needed */
  z-index: 1000; /* Ensure the navbar stays on top of other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.navbar-brand img {
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't overflow its container */
  width: 50px; /* Default size for desktop */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #333; /* Adjust as needed */
}

nav, footer {
  transition: opacity 0.3s ease-in-out;
}

/* Media query for mobile devices */
