@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/swiper-bundle.css';

@import 'swiper/css';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@font-face {
  font-family: 'blastine'; 
  src: url('/assets/fonts/blastine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cardillac';
  src: url('/assets/fonts/cardillac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'operetta';
  src: url('/assets/fonts/operetta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'halimun';
  src: url('/assets/fonts/Halimun.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'moontime';
  src: url('/assets/fonts/moontime.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rusticroadway';
  src: url('/assets/fonts/RusticRoadway.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'whisperingsignature';
  src: url('/assets/fonts/WhisperingSignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 200; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 300; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-Light.ttf') format('truetype');
  font-weight: 100; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 300; /* Bold */
  font-style: bold;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/assets/fonts/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: 100; /* Bold */
  font-style: italic;
}
@font-face {
  font-family: 'Cormorant';
  src: url('/assets/fonts/cormorant-normal.ttf') format('truetype');
  font-weight: 100; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant';
  src: url('/assets/fonts/cormorant-italic.ttf') format('truetype');
  font-weight: 100; /* Bold */
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'cardillac, blastine, halimun, moontime, rusticroadway, whisperingsignature';
}

.handwrite-text {
  font-family: 'whisperingsignature';
}

.eng-normal-text {
  font-family: 'rusticroadway';
}

.thai-normal-text-regular-100 {
  font-family: 'ChakraPetch';
  font-weight: 100;
  font-style: normal;
}
.thai-normal-text-regular-200 {
  font-family: 'ChakraPetch';
  font-weight: 200;
  font-style: normal;
}
.thai-normal-text-regular-300 {
  font-family: 'ChakraPetch';
  font-weight: 300;
  font-style: normal;
}
.thai-normal-text-bold {
  font-family: 'ChakraPetch';
  font-weight: 300;
  font-style: bold;
}
.thai-normal-text-italic {
  font-family: 'ChakraPetch';
  font-weight: 100;
  font-style: italic;
}
.cormorant-normal {
  font-family: 'Cormorant';
  font-weight: 100;
  font-style: normal;
}
.cormorant-italic {
  font-family: 'Cormorant';
  font-weight: 100;
  font-style: italic;
}